.contact,
.contact-wrapper,
.contact-container,
.contact-info,
.info-item {
  display: flex;
}
.contact {
  height: 100vh;
}
.contact-left {
  flex: 1;
  padding: 90px;
}
.contact-title {
  font-size: 4vw;
  margin-bottom: 90px;
}
.contact-info {
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.info-item:nth-child(2) {
  margin: 30px 0;
}
.contact-icon a {
  margin-right: 10px;
}
.gear-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.gear {
  width: 65%;
  height: 100%;
  object-fit: contain;
  animation: rotation 5s infinite linear;
}
.contact-right {
  padding: 90px;
  flex: 1;
}
.right-description {
  margin-bottom: 30px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 949px) {
  .contact {
    flex-direction: column;
    height: auto;
  }
  .contact-left,
  .contact-title {
    margin-bottom: 60px;
  }

  .contact-title {
    font-size: 6vw;
  }
  .contact-left {
    margin-bottom: 0;
  }
  .contact-left,
  .contact-right {
    padding: 60px;
  }
}

@media (max-width: 500px) {
  .contact-title {
    margin-bottom: 30px;
  }

  .contact-left,
  .contact-right {
    padding: 30px;
  }
}
